body {
  margin: 0;
}

div.view {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

h1, h2, h3, p, a {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  letter-spacing: 7px;
}

h1 {
  font-size: 100px;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
  h1, h2, h3, p, a {
    font-weight: 400 !important;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
  }

  h2 {
    font-size: 14px;
  }

  a {
    font-size: 14px !important;
  }

  p {
    font-size: 20px;
  }

  .home .companies img {
    height: 50px !important;
  }

  .me img {
    width: 90%;
  }

  .me div.view :first-child, .videos div.view :first-child {
    margin-top: 56px;
  }

  .me .view img {
    display: block !important;
  }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    80% {
        transform: translate(10px);
    }
    100% {
        /*-webkit-transform: translate3d(10px, 0, 0);*/
        transform: translate(0);
    }
}
